@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html{
  font-family: "Poppins", sans-serif;
}
body{
  background-color: black;
  color: white;
  margin: 0 auto;
  padding: 0;
}.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  min-height: 95vh;
  margin: 0 auto;
  
}h2{
  font-size: 40px;
  margin-top: 10vh;
  text-align: center;
  font-family: inherit;
  text-shadow: 2px 2px 0 orange,
             -2px -2px 0 orange,
             -2px 2px 0 orange,
             2px -2px 0 rgb(169, 173, 145);
}button{
  font-size: 16px;
  cursor: pointer;
  font-family: inherit;
  padding: auto;
  width: 200px;
  height: 50px;
  margin-top: 10px;
  background-color: #FDA546;
  border: #C89782;
  border-radius: 6px;
}p{
  margin-top: 10vh;
  text-align: center;
  border-radius: 5px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 0 5px 0;
  padding: 10px;
  opacity: .7;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}footer{
  border-radius: 6px;
 
  box-shadow: 0 0 5px 0;
  margin-top: 15vh;
  color: black;
  text-align: center;
  background-color: white;
  padding: 10px;
  opacity: .7;
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
}.app{
  min-height: 100vh;
  background-position: center;
  background-size:cover ;
}